*{
    margin: 0;
    padding: 0;  
}

.site{
    width: 600px;
    margin: 0px auto;
   }

.logo-empresa{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width:140px;
     height: 150px;
   }
.nome{
    text-align: center;
    
   
}
.header{
    width: 100%;
    position: -webkit-sticky;
    background: rgb(48, 44, 44);

}
    /*MInha conta / cadastro*/

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align:center;  
    padding: 3px 100px;
    text-decoration: none;
     /*MInha conta / cadastro*/
     
}
   
.buscar{
    float:right;
    margin:auto;
    padding:2px 23px;
    color:  #f2f2f2;

}


/*Acessorios / bolsas / mais vendidas*/
._db{
 text-decoration: none;
 padding: 8px 80px;
 font-size: 16px;
 font-family: open sans-serif;
 color:rgb(77, 60, 60);
 font: weight 1px;
 
 

 
}

h2{
    padding: 30px 200px;
    
  
}


      
    p{
        padding: 5px 50px;
        font-size:18px;
  
      
    }

    .desenho{
        float: left;

    }


   